
@font-face font-family: "iconfont"
  src: url('../fonts/iconfont.eot?t=1489071183411') /* IE9*/
  src: url('../fonts/iconfont.eot?t=1489071183411#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1489071183411') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1489071183411') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1489071183411#iconfont') format('svg') /* iOS 4.1- */


.iconfont 
  font-family:"iconfont" !important
  font-size:16px
  font-style:normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-arrow_lift
  &:before  
    content: "\e601" 

.icon-close
  &:before  
    content: "\e602" 

.icon-check_circle
  &:before  
    content: "\e603" 

.icon-add_circle
  &:before  
    content: "\e604" 

.icon-favorite
  &:before  
    content: "\e605" 

.icon-keyboard_arrow_right
  &:before  
    content: "\e606" 

.icon-remove_circle_outline
  &:before  
    content: "\e607" 

.icon-shopping_cart
  &:before  
    content: "\e608" 

.icon-thumb_up
  &:before  
    content: "\e609" 

.icon-thumb_down
  &:before  
    content: "\e60a" 

.icon-arrow_lift1
  &:before  
    content: "\e60b" 

.icon-check_circle1
  &:before  
    content: "\e60c" 

.icon-add_circle1
  &:before  
    content: "\e60d" 

.icon-keyboard_arrow_right1
  &:before  
    content: "\e60e" 

.icon-favorite1
  &:before  
    content: "\e60f" 

.icon-close1
  &:before  
    content: "\e610" 

.icon-shopping_cart1
  &:before  
    content: "\e611" 

.icon-remove_circle_outline1
  &:before  
    content: "\e612" 

.icon-thumb_down1
  &:before  
    content: "\e613" 

.icon-thumb_up1
  &:before  
    content: "\e614" 

